.section-splash {
  padding-top: 80px;
  padding-bottom: 30px;
}

.body-main {
  background-image: -webkit-radial-gradient(circle farthest-side at 50% 50%, #ddf6ff, hsla(0, 0%, 100%, .1)), url('../images/background.jpg');
  background-image: radial-gradient(circle farthest-side at 50% 50%, #ddf6ff, hsla(0, 0%, 100%, .1)), url('../images/background.jpg');
  background-position: 0px 0px, 50% 0px;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
}

.profile-background {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px;
  border-radius: 4px;
  background-color: #eee;
}

.ctn-splash {
  display: block;
  text-align: left;
}

.div-img-profile {
  margin-bottom: -80px;
  text-align: center;
}

.img-profile {
  width: 128px;
  height: 128px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .1);
  border-radius: 64px;
}

.header1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 1.6em;
  line-height: 1.1em;
  text-align: center;
  text-transform: uppercase;
}

.header2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #666;
  font-size: 1em;
  line-height: 1.4em;
  text-align: center;
}

.cta {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.button {
  padding: 2px 22px;
  border-radius: 4px;
  background-color: #05678d;
  font-family: Lato, sans-serif;
  color: #eee;
  font-size: 1em;
  text-decoration: none;
}

.hash-links {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 15px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(5, 103, 141, .2);
  border-radius: 5px;
  font-family: Lato, sans-serif;
  color: rgba(5, 103, 141, .5);
  font-size: 0.8em;
  line-height: 0.5em;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.div-hash-links {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  line-height: 0.5em;
  text-align: center;
}

.flashy-color {
  color: #ffbb14;
}

@media (max-width: 991px) {
  .section-splash {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .section-splash {
    padding-top: 20px;
  }
  .profile-background {
    width: 82%;
    padding: 30px 20px;
  }
  .div-img-profile {
    margin-bottom: -77px;
  }
  .header1 {
    padding-top: 60px;
    font-size: 1.5em;
  }
  .header2 {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9em;
  }
  .button {
    font-size: 0.95em;
  }
  .hash-links {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 479px) {
  .section-splash {
    padding-top: 50px;
  }
  .profile-background {
    width: 94%;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f5f5f5;
  }
  .header1 {
    line-height: 1.1em;
  }
  .button {
    position: static;
    display: inline-block;
    color: #fff;
  }
  .hash-links {
    line-height: 0.5em;
  }
  .div-hash-links {
    margin-right: -10px;
    margin-left: -10px;
    line-height: 1em;
  }
}

